body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #EBEBEC;
}

section#introduction h2{
    margin: 0;
    padding: 0.8em 1em;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    white-space: nowrap;
}

section#surprise h2 {
    margin: 0;
    font-size: 1em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100;
    color: #fff;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ED1A2D;
}

section#recommended h2, section#daily h2 {
    width: 30vw;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ED1A2D;
    margin-left: 1em;
}

main {
    background-image: url(../images/white-bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100wv;
    min-height: 100hv;
    padding: 4.1em 1em 2em 1em;
}

main>h1 {
    font-family: 'Rubik Mono One', sans-serif;
    margin-bottom: 1em;
}

main>i {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

main>section>p {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2em;
    font-size: 0.9em;
    line-height: 1.5em;
}

main>section>p>span {
    font-weight: 600;
}

nav#end-story {
    width: 100vw;
    height: 100%;
}

nav#end-story>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav#end-story>ul>a {
    width: 70%;
    height: 100%;
    background-color: #00477F;
    text-align: left;
    border-radius: 4px;
    line-height: 3em;
    padding-left: 1em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    color: #fff;

}

nav#end-story>ul>a>li {
    width: 100%;
    height: 100%;
}

nav#end-story>ul>a>li>img {
    height: 50%;
    width: auto;
    position: absolute;
    top: 0.8em;
    right: 1em;
}

h2 {
    margin: 1.5em 0 0.5em 0em;
    font-size: 1.0em;
    font-weight: 200;
    color: #00477F;
    top: 0.5em;
}


h3 {
    width: 45vw;
    margin: 0.8em 0 0.5em 1em;
    font-size: 1.0em;
    font-weight: 200;
    color: #00477F;
    top: 0.5em;
    position: absolute;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ED1A2D;
}


/*header*/
header#main-header {
    height: 3.1em;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0);
}

header#main-header>a {
    margin: 0;
    height: 3.1em;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 0 auto;
    background-color: #fff;
}

header#main-header>a:focus {

}

header#main-header>a>img {
    height: 100%;
}

header#main-header>button {
    height: 2.5em;
    width: 3.2em;
    top: 0.4em;
    right: 2em;
    position: absolute;
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 4px;
    transition: height 0.1s ease;
}

header#main-header>button:hover {
    height: 2.7em;
}
header#main-header>button:focus {
    height: 2.7em;
}

header#main-header>button>div{
    line-height: 1em;
}

header#main-header>button>img {
    height: 90%;
    width: auto;
}

nav#header-nav {
    display: none;
}


/*introduction*/
section#introduction {
    position: relative;
    height: 30vh;
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3.1em;

}

section#intro-surprise {
    display: none;
}

/*suprise*/
section#surprise {
    height: 20vh;
    background-color: #00477F;
    position: relative;
}

section#surprise>a {
    width: 60%;
    padding: 0.8em 1em;
    text-decoration: none;
    color: #00477F;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 68%;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-align: left;
    transition: background-color 0.5s ease;
    box-sizing: border-box;
}

section#surprise>a:focus {
    background-color: #d8f3ff;
}

section#surprise>a>img {
    height: 50%;
    position: absolute;
    top: 0.8em;
    right: 1em;
    }

section#surprise>a:hover {
    background-color: #d8f3ff;
}

/*daily*/
section#daily {
    height: auto;
    overflow: auto;
}

article#daily-article {
    margin: 1em;
    height: 45vh;
    border-radius: 4px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article#daily-article:hover {
  box-shadow: 0 5px 10px rgba(57, 57, 57, 0.25), 0 5px 5px rgba(67, 67, 67, 0.22);
}

article#daily-article>header {
    height: 55%;
    border-radius: 4px 4px 0 0;
    position: relative;
}

article#daily-article>header>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

article#daily-article>header>button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1em;
    bottom: 1em;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

article#daily-article>header>button:hover {
    background-color: #d8f3ff;
}

article#daily-article>header>button:focus {
    background-color: #d8f3ff;
}

article#daily-article>header>button>img {
    width: 80%;
}

article#daily-article>footer {
    background-color: #fff;
    height: 45%;
    border-radius: 0 0 4px 4px;
    position: relative;
}

article#daily-article>footer>section {
    width: 52%;
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding-bottom: 0.5em;
    right: 1em;
}

article#daily-article>footer>section>p {
    white-space: nowrap;
    line-height: 0em;
    color: #00477F;
}

article#daily-article>footer>button {
    display: none;
}

/*recommended articles*/
article.article-thumb {
    margin: 1em;
    height: 45vh;
    border-radius: 4px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article.article-thumb:hover {
  box-shadow: 0 5px 10px rgba(57, 57, 57, 0.25), 0 5px 5px rgba(67, 67, 67, 0.22);
}

article.article-thumb:focus {
  box-shadow: 0 5px 10px rgba(57, 57, 57, 0.25), 0 5px 5px rgba(67, 67, 67, 0.22);
}

article.article-thumb>header {
    height: 55%;
    border-radius: 4px 4px 0 0;
    position: relative;
}

article.article-thumb>header>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

article.article-thumb>header>button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1em;
    bottom: 1em;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

article.article-thumb>header>button:hover {
    background-color: #d8f3ff;
}

article.article-thumb>header>button:focus {
    background-color: #d8f3ff;
}

article.article-thumb>header>button>img {
    width: 80%;
}

article.article-thumb>footer {
    background-color: #fff;
    height: 45%;
    border-radius: 0 0 4px 4px;
    position: relative;
}

article.article-thumb>footer>section {
    width: 52%;
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding-bottom: 0.5em;
    right: 1em;
}

article.article-thumb>footer>section>p {
    white-space: nowrap;
    line-height: 0em;
    color: #00477F;
}

article.article-thumb>footer>button {
    display: none;
}

/*recommended*/
section#recommended {
    height: auto;
    overflow: auto;
    margin-bottom: 3.5em;
}


/*nav*/
nav#main-nav {
    position: fixed;
    bottom: 0;
    height: 3.1em;
    background-color: #fff;

}

nav#main-nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100vw;
    margin: 0;

}

nav#main-nav>ul>a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
    width: 50vw;
    transition: background-color 0.5s ease;
}

nav#main-nav>ul>a:focus{

}

nav#main-nav>ul>a>li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

nav#main-nav>ul>a>li>img {
    height: 12%;
    margin-top: 0.3em;
}

/*dark theme*/
.dark-bg {
    background-color: #212121;
}

.dark-text {
    color: #ebebeb !important;
}

.white-button {
    background-color: #e0e0e0 !important;
}

.white-button-text {
    color: #212121 !important;
}


/*button rotate*/
button#toggle-button>img {
    height: 150px;
    width: 150px;
    margin: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button#toggle-button>img.rotated {
    -webkit-transform : rotate(180deg);
    -moz-transform : rotate(180deg);
    -ms-transform : rotate(180deg);
    -o-transform : rotate(180deg);
    transform : rotate(180deg);
}

button#toggle-button>img.rotate-back {
    -webkit-transform : rotate(-180deg);
    -moz-transform : rotate(-180deg);
    -ms-transform : rotate(-180deg);
    -o-transform : rotate(-180deg);
    transform : rotate(-180deg);
}

section#search {
    margin-top: 4em;
    margin-bottom: 4em;
}

.active-bg {
    background-color: #ED1A2D;
    transition: background-color 0.5s ease;
}

.active-bg:hover {
        background-color: #00477F;
}

section#zero {
    width: 100vw;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


section#zero>img {
    width: 50vw;
    transform: translate(50%, 50%);
}


section#zero>nav>ul {
    padding: 0;
}

section#zero>nav>ul>a {
    text-decoration: none;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

section#zero>nav>ul>a>li {
    width: 100%;
    height: 100%;
    background-color: #00477F;
    border-radius: 4px;
    color: #fff;
    position: relative;
    padding-left: 1em;
    line-height: 3.1em;
    margin: 0 1em;

}

section#zero>nav>ul>a>li>img {
    height: 60%;
    position: absolute;
    margin-top: 0.7em;
    right: 1em;
}

section#filter_toggle {
    margin: 0 1em;
    min-height: 2.5em;
    display: flex;
    justify-content: flex-end;
}

section#filter_toggle>form {
    background-color: #fff;
    border-radius: 4px;
    width: 100vw;
}

section#filter_toggle>form>header {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
}

section#filter_toggle>form>header>img {
    height: 50%;
    margin: 0.5em 1em;
}

section#filter_toggle>form>header>button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 1.5em;
    margin: 0 1em;
    padding: 0;
    cursor: pointer;
}

section#filter_toggle>form>header>button:focus {
}

section#filter_toggle>form>fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em 2em;
    grid-column-gap: 1em;
    grid-row-gap: 0.8em;
}

section#filter_toggle>form>fieldset:first-of-type {
    padding-bottom: 0;
}

section#filter_toggle>form>fieldset:first-of-type>legend {
    margin-top: 1em;
}

section#filter_toggle>form>fieldset:last-of-type {
    margin-bottom: 1em;
    padding-top: 0;
}

section#filter_toggle>form>fieldset:last-of-type>legend {
    padding-bottom: 0.5em;
}


section#filter_toggle>form>fieldset>input {
    background: #EBEBEC;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

section#filter_toggle>form>fieldset>input:focus {
    background-color: #d8f3ff;
}

section#filter_toggle>form>fieldset>input:hover {
    background-color: #d8f3ff;
}

section#filter_toggle>form>fieldset>input:active {
    background-color: #ED1A2D;
}

section#filter_toggle>form>footer {
    text-align: center;
}

section#filter_toggle>form>footer>input {
    height: 3.1em;
    width: 60vw;
    margin: 1em 0 2em 0;
    background-color: #094D83;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: #fff;
}

section#filter_toggle>form>footer>input:focus {
    background-color: #ED1A2D;
}

section#filter_toggle>form>footer>input:hover {
    background-color: #ED1A2D;
}

section#filter_toggle>form>footer>input:active {
    background-color: #ba1827;
}


section#filter_toggle>button {
    display: flex;
    height: 100%;
    width: 28vw;
    justify-content: space-around;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    line-height: 3.1em;
    font-size: 0.8em;
    right: 1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

 section#filter_toggle>button:hover {
    background-color: #d8f3ff;
}

 section#filter_toggle>button:focus {
    background-color: #d8f3ff;
}


section#filter_toggle>button>img {
    height: 1.6em;
    margin-top: 0.8em;
}

.active_input_button {
    background-color: #094D83 !important;
    color: #fff;
}

.hide {
    display: none !important;
}


/*start media queries*/
@media (min-width: 600px) {

    header#main-header>a {
        left: 2em;
        transform: translate(0);
    }

    header#main-header>button{
        right: 3em;
    }

    nav#header-nav {
    display: block;
    width: 50vw;
    height: 100%;
    position: absolute;
    right: 0em;
    }

    nav#header-nav>ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        width: 40vw;
        height: 100%;
        margin: 0;
        position: absolute;
        right: 2em;
    }

    nav#header-nav>ul>a {
        text-decoration: none;
        color: #fff;
        width: 6em;
        background-color: #fff;
        transition: background-color 0.5s ease;
}

    nav#header-nav>ul>a:hover {
        background-color: #d8f3ff;
    }


    nav#header-nav>ul>a>li {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav#header-nav>ul>a>li>img {
        height: 50%;
    }

    nav#header-nav>ul>a>li>span {
        color: #000;
        text-align: center;
        font-size: 0.8em;
    }

    section#introduction {
    height: 40vh;
    background-image: url(../images/header-bg_ipad.jpg);
    }

    section#introduction h2{
        margin: 0;
        padding: 1em 1em;
        font-size: 2.5em;
        position: absolute;
        top: 15vh;
        left: 6.5em;
        text-align: left;
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        white-space: normal;
        width:8em;
}

/*verras me*/

    section#surprise h2 {
    font-size: 1.3em;
    position: absolute;
    top: 2em;
    left: 1.6em;
    transform: translate(0);
    font-weight: 200;
    text-align: left;
    width: 30vw;
    color: #fff;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ED1A2D;
    white-space: nowrap;
}

    section#surprise>a {
        top: 7em;
        left: 2em;
        transform: translate(0);
        width: 40%;
        text-align: left;

    }

    section#recommended h2, section#daily h2 {
        margin: 1.5em 0 0.5em 1.6em;
        font-size: 1.3em;
        font-weight: 200;
        color: #00477F;
    }

/*daily article*/
    article#daily-article {
        margin: 2em;
        height: 30vh;
        display: flex;
        flex-direction: row-reverse;
        background-color: #fff;
    }

    article#daily-article>header {
        height: 100%;
        width: 50%;
        border-radius: 0 4px 4px 0;
        position: relative;
    }

    article#daily-article>header>img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 0 4px 4px 0;
    }

    article#daily-article>header>button {
        display: none;
    }

    article#daily-article>footer {
        background-color: #fff;
        height: 100%;
        width: 50%;
        border-radius: 4px 0 0 4px;
        position: relative;
    }

    article#daily-article>footer>section {
        width: 50%;
        height: 10%;
        position: absolute;
        display: flex;
        padding-bottom: 0.5em;
        left: 0.5em;
        top: 6.2em;
    }

    article#daily-article>footer>section>p {
        white-space: nowrap;
        line-height: 0em;
        color: #00477F;
    }

    article#daily-article>footer>button {
        display: block;
        height: 3.7em;
        width: 70%;
        border: none;
        background-color: #EBEBEC;
        margin: 0 0 0 1rem;
        bottom: 2em;
        position: absolute;
        border-radius: 4px;
        font-size: 0.9em;
        color: #00477F;
        text-align: left;
        padding: 0 1rem;
        transition: background-color 0.5s ease;
    }

    article#daily-article>footer>button:hover {
        background-color: #d8f3ff;
    }

    article#daily-article>footer>button>img {
        height: 45%;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    section#recommended-article-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


/*small article*/
    article.article-thumb {
        margin: 2em;
        height: 30vh;
        background-color: #fff;
    }

    article.article-thumb>header {
        height: 50%;
        width: 100%;
        border-radius: 4px 4px 0 0;
        position: relative;
    }

    article.article-thumb>header>img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;
    }


    article.article-thumb>footer {
        background-color: #fff;
        height: 50%;
        width: 100%;
        border-radius: 0 0 4px 4px;
        position: relative;
    }

    article.article-thumb>footer>section {
        width: 50%;
        height: 18%;
        position: absolute;
        display: flex;
        padding-bottom: 0.5em;
        left: 0.5em;
        top: 6.2em;
    }

    article.article-thumb>footer>section>p {
        white-space: nowrap;
        line-height: 0em;
        color: #00477F;
    }

    article.article-thumb>header>button {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        right: 1em;
        bottom: 1em;
        border-radius: 4px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    article.article-thumb>header>button:hover {
        background-color: #d8f3ff;
    }

    article.article-thumb>footer>button>img {
        height: 45%;
        position: absolute;
        top: 1em;
        right: 1em;
    }


    h3 {
        width: 25vw;
        font-size: 1.2em;
    }

/*verhaal*/

    main {
        padding: 4em 2em 2em 2em;
    }

    main>section>p {
        line-height: 1.5em;
    }

    main>h1 {
        width: 60%;
    }

    nav#main-nav {
        display: none;
    }


    nav#end-story>ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    }

    nav#end-story>ul>a {
    width: 40%;
    height: 100%;
    background-color: #00477F;
    text-align: left;
    border-radius: 4px;
    line-height: 3em;
    padding: 0 1em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    color: #fff;

    }

    nav#end-story>ul>a>li {
        width: 100%;
        height: 100%;
    }

    nav#end-story>ul>a>li>img {
        height: 50%;
        width: auto;
        position: absolute;
        top: 0.8em;
        right: 1em;
    }

    section#zero {
        height: 50vh;
    }

    section#zero>img {
    width: 26vw;
    transform: translate(140%, 30%);
    }

    section#zero>nav>ul>a>li {
        width: 50%;
    }


    section#filter_toggle>button{
        width: 15vw
    }

    section#search {
    margin-top: 5em;
    }

    main {
    background-image: url(../images/white-bg-ipad.png);
    }

    section#filter_toggle {
    margin: 0 2em;
    }

    section#filter_toggle>form>footer>input {
        width: 35vw;
    }

}

@media (min-width:  1224px) {


    section#text-column-container {
        -webkit-columns: 2 35vw;
        -moz-columns: 2 35vw;
        columns: 2 35vw;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;

    }


    header#main-header>a {
        left: 2em;
        transform: translate(0);
    }

    section#introduction {
        height: 80vh;
        background-image: url(../images/header-bg.jpg);
    }


    section#introduction h2{
        margin: 0;
        padding: 1em 1em;
        font-size: 3.5em;
        position: absolute;
        top: 35vh;
        left: 6.5em;
        text-align: left;
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        white-space: normal;
        width:8em;
}

    section#intro-surprise {
        display: block;
        height: 35vh;
        width: 40vw;
        background-color: #00477F;
        border-radius: 4px;
        top: 20vh;
        right: 2em;
        position: absolute;
    }

    section#intro-surprise h2 {
        font-size: 1.3em;
        position: absolute;
        top: 2em;
        left: 1.6em;
        transform: translate(0);
        font-weight: 200;
        text-align: left;
        width: 20vw;
        color: #fff;
        padding: 0 0 0.5em 0;
        border-bottom: 2px solid #ED1A2D;
        white-space: nowrap;
        background-color: rgba(255, 255, 255, 0);
    }

    section#intro-surprise>a {
        width: 50%;
        padding: 0.8em 1em;
        text-decoration: none;
        color: #00477F;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        top: 7em;
        left: 2em;
        font-weight: 400;
        text-align: left;
        transition: background-color 0.5s ease;
        box-sizing: border-box;
    }

    section#intro-surprise>a>img {
        height: 50%;
        position: absolute;
        top: 0.8em;
        right: 1em;
        }

    section#intro-surprise>a:hover {
        background-color: #d8f3ff;
    }

    section#surprise {
        display: none;

    }

/*daily article desktop*/

    /*daily article*/
    article#daily-article {
        margin: 2em;
        height: 40vh;
        width: 45vw;
        display: flex;
        flex-direction: row-reverse;
        background-color: #fff;
    }

    article#daily-article>header {
        height: 100%;
        width: 50%;
        border-radius: 0 4px 4px 0;
        position: relative;
    }

    h3 {
        font-size: 1.2em;
        width: 15vw;
    }

    article#daily-article>header>img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 0 4px 4px 0;
    }

    article#daily-article>header>button {
        display: none;
    }

    article#daily-article>footer {
        background-color: #fff;
        height: 100%;
        width: 50%;
        border-radius: 4px 0 0 4px;
        position: relative;
    }

    article#daily-article>footer>section {
        width: 50%;
        height: 10%;
        position: absolute;
        display: flex;
        padding-bottom: 0.5em;
        left: 0.5em;
        top: 6.2em;
    }

    article#daily-article>footer>section>p {
        white-space: nowrap;
        line-height: 0em;
        color: #00477F;
    }

    article#daily-article>footer>button {
        display: block;
        height: 3.7em;
        width: 70%;
        border: none;
        background-color: #EBEBEC;
        margin: 0 0 0 1rem;
        bottom: 2em;
        position: absolute;
        border-radius: 4px;
        font-size: 0.9em;
        color: #00477F;
        text-align: left;
        padding: 0 1rem;
        transition: background-color 0.5s ease;
    }

    article#daily-article>footer>button:hover {
        background-color: #d8f3ff;
    }

    article#daily-article>footer>button>img {
        height: 45%;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    section#recommended-article-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


/*small article*/
    article.article-thumb {
        margin: 2em;
        height: 45vh;
        background-color: #fff;
    }

    article.article-thumb>header {
        height: 50%;
        width: 100%;
        border-radius: 4px 4px 0 0;
        position: relative;
    }

    article.article-thumb>header>img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;
    }


    article.article-thumb>footer {
        background-color: #fff;
        height: 50%;
        width: 100%;
        border-radius: 0 0 4px 4px;
        position: relative;
    }

    article.article-thumb>footer>section {
        width: 50%;
        height: 18%;
        position: absolute;
        display: flex;
        padding-bottom: 0.5em;
        left: 0.5em;
        top: 6.2em;
    }

    article.article-thumb>footer>section>p {
        white-space: nowrap;
        line-height: 0em;
        color: #00477F;
    }

    article.article-thumb>header>button {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        right: 1em;
        bottom: 1em;
        border-radius: 4px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    article.article-thumb>header>button:hover {
        background-color: #d8f3ff;
    }

    article.article-thumb>footer>button>img {
        height: 45%;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    nav#main-nav{
        display: none;
    }

    section#zero {
        height: 100vh;
    }

    section#zero>img {
    width: 26vw;
    transform: translate(140%, 30%);
    }

    section#zero>nav>ul>a>li {
        width: 40%;
    }

    main {
    background-image: url(../images/white-bg-img.png);
    }

    section#filter_toggle>button{
        width: 10vw
    }

    section#filter_toggle>form {
        width: 100vw;
    }

    section#filter_toggle>form>footer>input {
        width: 20vw;
    }
}
