body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/*header*/
header {
    height: 50px;
    background-color: #ffffff;
}

#header_logobox {
    margin: 0;
    height: 50px;
}

#header_logo {
    height: 100%;
}

/*daily*/
#daily {
    height: 31vh;
    background-color: #f00;
}

h1 {
    margin: 0;
}

.btn {

}

/*nav*/
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav>ul{
    display: flex;
    justify-content: space-between;
}

/*positie classes*/
.centered {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

/*start media queries*/
@media (min-width: 600px) {
    body {

    }
}
